* {
  text-align: center;
  overflow-x: hidden;
  overflow: hidden;
}

body {
  background-color: #182135;
}

.header {
  position: relative;
  justify-content: center;
  margin-bottom: 20px;
}

.headerTitle {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  text-shadow: #6bb9f8 0.5px 0.5px 2px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

img {
  height: 25vh;
}

form {
  color: white;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}
